:root {
  --dark: rgb(30, 30, 30); 
  --yellow: rgb(255, 223, 50);  
  --blue: rgb(0, 123, 255);      

  --c1: rgb(0, 51, 63);          
  --c2: rgb(50, 150, 120);       

  --left-color: var(--c1);
  --right-color: var(--c2);
}

body {  
  background-color: var(--dark);
  margin: 0;
  font-family: "Rubik", sans-serif; 
}

.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.side .title {
  font-size: 8vw;
  margin: 0 10vw;
  width: 80vw;
}

.side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
}

#left-side {
  background-color: var(--left-color);
  width: 50%;
  z-index: 2;
  transition: width 0.2s ease;
}

#left-side .title {  
  color: white;  
}

#left-side .fancy {
  color: var(--right-color);
}

#right-side {
  background-color: var(--right-color);
  left: 0; 
  right: 0; 
  z-index: 1; 
}

#right-side .title {
  color: var(--dark);
}

#right-side .fancy {
  color: white;
}
